# Neon PostgreSQL
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

# Next.js
NEXTAUTH_SECRET= openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000

# Socket.io (usato in produzione su server separato se necessario)
SOCKET_PORT=3001

PUSHER_APP_ID=il_tuo_app_id
PUSHER_KEY=la_tua_key
PUSHER_SECRET=il_tuo_secret
PUSHER_CLUSTER=il_tuo_cluster
NEXT_PUBLIC_PUSHER_KEY=la_tua_key
NEXT_PUBLIC_PUSHER_CLUSTER=il_tuo_cluster